apiVersion: v1
kind: ConfigMap
metadata:
  name: pipeline-config
  namespace: jenkins
data:
  compose-pipeline.dsl: |
    pipelineJob('compose-pipeline') {
        parameters {
          stringParam('CLONE', '', 'Url of a git repository for cloning (https)')
          stringParam('COMPOSE_PATH', 'undefined', 'Path to the docker-compose file')
          stringParam('NAME', 'docker-compose.yml', 'Name of the docker-compose file')
          stringParam('ID', '', 'Grakn database ID')
          stringParam('RID', '', 'GitHub sha of docker-compose file')
          stringParam('BASE_URL', '', 'URL of the proxy service')
        }

        logRotator {
          numToKeep(100)
        }

        definition {
            cps {
                script('''import groovy.json.JsonOutput
    dict = [:]
    score = [:]
    def processVuln() {
      def arr = TRIVY.removeAll([null])
      if (arr) {
        dict['total'] = 0
        dict['score'] = 10
        return true
      }
      TRIVY.each { ele ->
          if (!dict['total']) {
            dict['total'] = ele.vulnerabilities.size()
          } else {
            dict['total'] += ele.vulnerabilities.size()
          }
          if (!dict['score']) {
            dict['score'] = 0
          }
          ele.vulnerabilities.each { vuln ->
            if (vuln.V3Score) {
                dict['score'] += vuln.V3Score
            }
          }
      }
      dict['score'] = (dict['score'] / dict['total']).round(1)
    }
    def generateScore() {
      def vulnScore = (10 - dict.score) * 3.3
      def confTotal = CONFTEST_RESULT.successes + CONFTEST_RESULT.warnings.size() + CONFTEST_RESULT.failures.size()
      def confNoramlized = ((confTotal.sum() - CONFTEST_RESULT.warnings.size() - CONFTEST_RESULT.failures.size()) / confTotal.sum()) * 10
      def confScore = confNoramlized * 3.3
      def excScore = 5

      if (!EXECUTABLE) {
        excScore = 0
      }

      FILE_LENGTH = Integer.parseInt(FILE_LENGTH)

      if (FILE_LENGTH > 300) {
        FILE_LENGTH = 300
      }
      
      fileNormalized = (FILE_LENGTH / 300) * 5
      def extraScore = (excScore + fileNormalized) * 3.3
      def totalScore = vulnScore + confScore + extraScore

      def result = [score: totalScore.round(2), executable: EXECUTABLE, v3score: dict.score, id: ID, rid, RID]

      return result
    }
    pipeline {
      agent {
        kubernetes {
          cloud 'kubernetes'
          defaultContainer 'docker'
          yaml """
    kind: Pod
    spec:
      containers:
        - name: docker
          image: docker:19.03.12-dind
          args:
            - --storage-driver=overlay2
          securityContext:
            privileged: true
        - name: conftest
          image: instrumenta/conftest:v0.21.0
          tty: true
          command: ['cat']
        - name: trivy
          image: langleu/trivy:0.11.0
          tty: true
          command: ['cat']
            """
          }
        }

        options {
          timeout(time: 30, unit: 'MINUTES')
          timestamps()
        }

        stages {
            stage('Install Docker-Compose') {
              steps {
                sh 'apk update && apk add docker-compose curl bash'
              }
            }
            stage('Git Checkout') {
                steps {
                  git poll: false, url: params.CLONE
                }
            }
            stage('Switch Directory') {
              when  {
                expression { return params.COMPOSE_PATH != 'undefined' }
              }
              steps {
                dir params.COMPOSE_PATH
              }
            }
            stage('Run Compose') {
                steps {
                 script {
                   EXECUTABLE = true
                  try {
                    sh "docker run -d -p 80:80 nginx:latest"
                    sh "docker run -d node:10"
                    //sh "docker-compose -f ${params.NAME} up -d"
                  } catch(err) {
                      EXECUTABLE = false
                    }
                  }
                }
            }
            stage('Check Healthy state') {
              when  {
                expression { return EXECUTABLE }
              }
              steps {
                script {
                EXECUTABLE = sh (script: """
                  sleep 30s
                  if [[ \\$(docker ps -a | grep -v "CONTAINER ID" | grep -v "Exited (0)" | grep -v "Restarting (0)" | grep -v "Created" | grep -v "Up" | wc -l) -gt 0 ]]
                  then
                    echo false
                  else
                    echo true
                  fi
                  """, returnStdout: true).trim()
                }
              }
            }
            stage('Read file length') {
              steps {
                script {
                  FILE_LENGTH = sh(script: "cat ${params.NAME} | wc -l", returnStdout: true).trim()
                }
              }
            }
            stage('Run conftest') {
                steps {
                  sh 'mkdir policy'
                  sh 'curl https://raw.githubusercontent.com/Langleu/MA_Infrastructure/master/conftest/policy/deny.rego > policy/deny.rego'
                  container('conftest') {
                    script {
                      CONFTEST_RESULT = readJSON text: sh(script: "conftest --no-color test --output json ${params.NAME} || true", returnStdout: true).trim()
                    }
                  }
                }
            }
            stage('Run vulnerability scan - not executable') {
              when {
                expression { return EXECUTABLE == false }
              }
              steps {
                sh 'curl https://raw.githubusercontent.com/Langleu/MA_Infrastructure/master/kubernetes/jenkins/pipelines/res.tpl > result.tpl'
                container('trivy') {
                  sh (script: """#!/bin/bash
                  arr=\\$(cat docker-compose.yml | grep image)
                  readarray -t arr <<<"\\${arr//image: /}"

                  echo "[\n" > trivy.json

                  for image in "\\${arr[@]}"
                  do
                    trivy image --no-progress --exit-code 0 --format template --template "@result.tpl" -o trivy_temp.json \\${image}
                      cat trivy_temp.json >> trivy.json
                      echo "," >> trivy.json
                  done

                  echo "\n]" >> trivy.json
                  """, returnStatus: false)
                  script {
                    TRIVY = readJSON file: 'trivy.json'
                  }
                }
              }
            }
            stage('Run vulnerability scan') {
              when {
                expression { return EXECUTABLE }
              }
              steps {
                sh 'curl https://raw.githubusercontent.com/Langleu/MA_Infrastructure/master/kubernetes/jenkins/pipelines/res.tpl > result.tpl'
                script {
                  IMAGES_STRING = sh(script: "docker ps -a --format '{{json .Image}}'", returnStdout: true).trim()
                }
                sh """#!/bin/bash
                    images_string="${IMAGES_STRING}"
                    readarray -t images <<<"\\${images_string}"

                    for image in "\\${images[@]}"
                    do
                      docker save "\\${image}" -o \\${image}.tar || true
                    done
                """
                container('trivy') {
                  sh """#!/bin/bash
                    images_string="${IMAGES_STRING}"
                    readarray -t images <<<"\\${images_string}"

                    echo "[\n" > trivy.json

                    for image in "\\${images[@]}"
                    do
                      trivy image --no-progress --exit-code 0 --format template --template "@result.tpl" -o trivy_temp.json --input \\${image}.tar
                      cat trivy_temp.json >> trivy.json
                      echo "," >> trivy.json
                      rm -rf \\${image}.tar
                    done

                    echo "\n]" >> trivy.json

                  """
                  script {
                    TRIVY = readJSON file: 'trivy.json'
                  }
                }
              }
            }
            stage('Calculate final score') {
                steps {
                  processVuln()
                  script {
                    result = generateScore()
                  }
                }
            }
        }
        post {
          always {
            println JsonOutput.toJson(result)
            //httpRequesst contentType: "APPLICATION_JSON", httpMode: "POST", requestBody: JsonOutput.toJson(result), url: "${BASE_URL}/v1/update"
          }
        }
    }
                  '''.stripIndent())
                sandbox()
            }
        }
    }
