---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: grakn
  namespace: database
  labels:
    app: grakn
spec:
  serviceName: grakn
  replicas: 1
  selector:
    matchLabels:
      app: grakn
  template:
    metadata:
      labels:
        app: grakn
    spec:
      terminationGracePeriodSeconds: 1800
      containers:
      - name: grakn
        image: langleu/grakn:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: SERVER_JAVAOPTS
          value: "-Xmx10G"
        - name: STORAGE_JAVAOPTS
          value: "-Xmx5G"
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 0
        ports:
        - containerPort: 48555
          name: grpc
        resources:
          limits:
            cpu: "7"
            memory: 15Gi
          requests:
            cpu: "7"
            memory: 15Gi
        volumeMounts:
        - name: grakn-data
          mountPath: /grakn-core-all-linux/server/db/
      - name: init-schema # can't run as init container due database not being up
        image: langleu/grakn-console:1.8.3-test
        imagePullPolicy: IfNotPresent
        env:
        - name: ADDRESS
          value: 'grakn:48555'
        - name: KEYSPACE
          value: 'docker'
        - name: FILE
          value: '/schema.gql'
        volumeMounts:
          - name: grakn-schema
            mountPath: /schema.gql
            subPath: schema.gql 
      tolerations:
        - key: "db"
          value: "true"
          effect: "NoSchedule"
      volumes:
      - name: grakn-schema
        configMap:
          name: grakn-schema
      - name: grakn-data
        hostPath: 
          path: /var/local/grakn
          type: DirectoryOrCreate
