---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy
  namespace: proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
      - name: proxy
        image: langleu/ma_proxy:latest
        env:
          - name: GRAKNURI
            value: 'grakn.database:48555'
          - name: JENKINS_URL
            value: 'jenkins.jenkins:8080'
        ports:
        - name: http
          containerPort: 9889
        livenessProbe:
          httpGet:
            path: /v1/health
            port: http
          initialDelaySeconds: 20
        readinessProbe:
          httpGet:
            path: /v1/health
            port: http
          initialDelaySeconds: 10
